### Converting a date string to DateTime format

In [16]:
using DelimitedFiles
start_index = 3
raw_data = DelimitedFiles.readdlm("EbolaVirus.csv", ',')

56×10 Array{Any,2}:
 "\ufeffDate"     "Total"      ""        …     ""        "Sources"
 ""               "Cases"      "Deaths"        "Deaths"  ""
 "25-Nov-15"      "28,637"     "11,314"        "3,955"   "[note 1][13]"
 "18-Nov-15"      "28,634"     "11,314"        "3,955"   "[note 2][14]"
 "11-Nov-15"      "28,635"     "11,314"        "3,955"   "[note 3][15]"
 "4-Nov-15"       "28,607"     "11,314"  …     "3,955"   "[note 4][16]"
 "25-Oct-15"      "28,539"     "11,298"        "3,955"   "[note 5][17]"
 "18-Oct-15"      "28,476"     "11,298"        "3,955"   "[18]"
 "11-Oct-15"      "28,454"     "11,297"        "3,955"   "[note 6][19]"
 "27-Sep-15"      "28,388"     "11,296"        "3,955"   "[20]"
 "20-Sep-15"      "28,295"     "11,295"  …     "3,955"   "[21]"
 "13-Sep-15"      "28,220"     "11,291"        "3,953"   "[22]"
 "6-Sep-15"       "28,147"     "11,291"        "3,953"   "[23]"
 ⋮                                       ⋱
 "9-Aug-14"       "1,835"      "1,011"      315          "[66]"
 "30-Jul-14"      "1,437"   825          …  252          "[67]"
 "23-Jul-14"      "1,201"   672             224          "[68]"
 "14-Jul-14"   982          613             197          "[69]"
 "2-Jul-14"    779          481             101          "[70]"
 "17-Jun-14"   528          337              49          "[71]"
 "27-May-14"   309          202          …    5          "[72]"
 "12-May-14"   260          182                "–"       "[73][74]"
 "1-May-14"    239          160                "-"       "[75]"
 "14-Apr-14"   176          110                "–"       "[76]"
 "31-Mar-14"   130           82                "–"       "[77]"
 "22-Mar-14"    49           29          …     "–"       "[78]"

In [17]:
using Dates
# Refer the wikidata format
# d: day (two digits)
# u: Month (three digits)
# y: year (four digits)
Dates.DateTime(raw_data[start_index,1], "d-u-y")

0015-11-25T00:00:00

In [30]:
for i=start_index:size(raw_data)[1]
   println("Row[$i] is ", raw_data[i, :])
end

Row[3] is Any["25-Nov-15", "28,637", "11,314", "3,804", "2,536", "10,675", "4,808", "14,122", "3,955", "[note 1][13]"]
Row[4] is Any["18-Nov-15", "28,634", "11,314", "3,804", "2,536", "10,672", "4,808", "14,122", "3,955", "[note 2][14]"]
Row[5] is Any["11-Nov-15", "28,635", "11,314", "3,805", "2,536", "10,672", "4,808", "14,122", "3,955", "[note 3][15]"]
Row[6] is Any["4-Nov-15", "28,607", "11,314", "3,810", "2,536", "10,672", "4,808", "14,089", "3,955", "[note 4][16]"]
Row[7] is Any["25-Oct-15", "28,539", "11,298", "3,806", "2,535", "10,672", "4,808", "14,061", "3,955", "[note 5][17]"]
Row[8] is Any["18-Oct-15", "28,476", "11,298", "3,803", "2,535", "10,672", "4,808", "14,001", "3,955", "[18]"]
Row[9] is Any["11-Oct-15", "28,454", "11,297", "3,800", "2,534", "10,672", "4,808", "13,982", "3,955", "[note 6][19]"]
Row[10] is Any["27-Sep-15", "28,388", "11,296", "3,805", "2,533", "10,672", "4,808", "13,911", "3,955", "[20]"]
Row[11] is Any["20-Sep-15", "28,295", "11,295", "3,800", "2,532", "10,672", "4,808", "13,823", "3,955", "[21]"]
Row[12] is Any["13-Sep-15", "28,220", "11,291", "3,792", "2,530", "10,672", "4,808", "13,756", "3,953", "[22]"]
Row[13] is Any["6-Sep-15", "28,147", "11,291", "3,792", "2,530", "10,672", "4,808", "13,683", "3,953", "[23]"]
Row[14] is Any["30-Aug-15", "28,073", "11,290", "3,792", "2,529", "10,672", "4,808", "13,609", "3,953", "[24]"]
Row[15] is Any["16-Aug-15", "27,952", "11,284", "3,786", "2,524", "10,672", "4,808", "13,494", "3,952", "[25]"]
Row[16] is Any["9-Aug-15", "27,929", "11,283", "3,787", "2,524", "10,672", "4,808", "13,470", "3,951", "[26]"]
Row[17] is Any["26-Jul-15", "27,748", "11,279", "3,786", "2,520", "10,672", "4,808", "13,290", "3,951", "[27]"]
Row[18] is Any["12-Jul-15", "27,642", "11,261", "3,760", "2,506", "10,673", "4,808", "13,209", "3,947", "[28]"]
Row[19] is Any["5-Jul-15", "27,573", "11,246", "3,748", "2,499", "10,670", "4,807", "13,155", "3,940", "[note 7][29][30]"]
Row[20] is Any["28-Jun-15", "27,514", "11,220", "3,729", "2,482", "10,666", "4,806", "13,119", "3,932", "[31]"]
Row[21] is Any["21-Jun-15", "27,443", "11,207", "3,718", "2,473", "10,666", "4,806", "13,059", "3,924", "[32]"]
Row[22] is Any["14-Jun-15", "27,305", "11,169", "3,674", "2,444", "10,666", "4,806", "12,965", "3,919", "[33]"]
Row[23] is Any["31-May-15", "27,110", "11,132", "3,652", "2,429", "10,666", "4,806", "12,827", "3,912", "[34]"]
Row[24] is Any["17-May-15", "26,898", "11,105", "3,635", "2,407", "10,666", "4,806", "12,632", "3,907", "[35]"]
Row[25] is Any["3-May-15", "26,558", "10,990", "3,589", "2,386", "10,564", "4,716", "12,440", "3,903", "[36]"]
Row[26] is Any["19-Apr-15", "26,009", "10,793", "3,565", "2,358", "10,212", "4,573", "12,267", "3,877", "[37]"]
Row[27] is Any["5-Apr-15", "25,480", "10,557", "3,515", "2,333", "9,862", "4,408", "12,138", "3,831", "[38]"]
Row[28] is Any["22-Mar-15", "24,837", "10,296", "3,429", "2,263", "9,602", "4,301", "11,841", "3,747", "[39]"]
Row[29] is Any["8-Mar-15", "24,282", "9,976", "3,285", "2,170", "≥9,343", "≥4,162", "11,619", "3,629", "[40]"]
Row[30] is Any["22-Feb-15", "23,659", "9,574", "3,155", "2,091", "9,238", "4,037", "11,301", "3,461", "[41]"]
Row[31] is Any["8-Feb-15", "22,824", "9,147", "3,044", "1,995", "≥8,881", "≥3,826", "10,934", "3,341", "[42]"]
Row[32] is Any["25-Jan-15", "22,022", "8,780", "2,917", "1,910", "8,622", "3,686", "10,518", "3,199", "[43]"]
Row[33] is Any["11-Jan-15", "21,226", "8,399", "2,806", "1,814", "8,331", "3,538", "10,124", "3,062", "[44]"]
Row[34] is Any["28-Dec-14", "20,171", "7,890", "2,707", "1,709", "8,018", "3,423", "9,446", "2,758", "[45]"]
Row[35] is Any["14-Dec-14", "18,565", "7,273", "2,415", "1,525", "7,819", "3,346", "8,356", "2,417", "[46][47][48]"]
Row[36] is Any["30-Nov-14", "17,110", "6,397", "2,164", "1,325", "7,653", "3,157", "7,312", "1,915", "[49][50][51]"]
Row[37] is Any["18-Nov-14", "15,291", "5,765", "2,047", "1,214", "7,082", "2,963", "6,190", "1,598", "[52][53]"]
Row[38] is Any["2-Nov-14", "13,015", "5,188", "1,731", "1,041", "6,525", "2,697", "4,759", "1,450", "[54][55]"]
Row[39] is Any["19-Oct-14", "9,911", "4,890", "1,540", 926, "4,665", "2,705", "3,706", "1,259", "[56]"]
Row[40] is Any["12-Oct-14", "8,950", "4,476", "1,472", 843, "4,249", "2,458", "3,252", "1,183", "[57]"]
Row[41] is Any["28-Sep-14", "7,169", "3,278", "1,157", 710, "3,696", "1,998", "2,317", 570, "[58][59]"]
Row[42] is Any["14-Sep-14", "5,327", "2,578", 942, 601, "2,720", "1,461", "1,655", 516, "[60][61][62]"]
Row[43] is Any["31-Aug-14", "3,664", "1,794", 771, 494, "1,698", 871, "1,216", 436, "[63][64]"]
Row[44] is Any["16-Aug-14", "2,225", "1,225", 543, 394, 834, 466, 848, 365, "[65]"]
Row[45] is Any["9-Aug-14", "1,835", "1,011", 506, 373, 599, 323, 730, 315, "[66]"]
Row[46] is Any["30-Jul-14", "1,437", 825, 472, 346, 391, 227, 574, 252, "[67]"]
Row[47] is Any["23-Jul-14", "1,201", 672, 427, 319, 249, 129, 525, 224, "[68]"]
Row[48] is Any["14-Jul-14", 982, 613, 411, 310, 174, 106, 397, 197, "[69]"]
Row[49] is Any["2-Jul-14", 779, 481, 412, 305, 115, 75, 252, 101, "[70]"]
Row[50] is Any["17-Jun-14", 528, 337, 398, 264, 33, 24, 97, 49, "[71]"]
Row[51] is Any["27-May-14", 309, 202, 281, 186, 12, 11, 16, 5, "[72]"]
Row[52] is Any["12-May-14", 260, 182, 248, 171, 12, 11, "–", "–", "[73][74]"]
Row[53] is Any["1-May-14", 239, 160, 226, 149, 13, 11, "-", "-", "[75]"]
Row[54] is Any["14-Apr-14", 176, 110, 168, 108, 8, 2, "–", "–", "[76]"]
Row[55] is Any["31-Mar-14", 130, 82, 122, 80, 8, 2, "–", "–", "[77]"]
Row[56] is Any["22-Mar-14", 49, 29, 49, 29, "–", "–", "–", "–", "[78]"]

In [32]:
dateTimeData = raw_data[start_index:end, 1]
for i=1:length(dateTimeData)
    dateTimeData[i] = Dates.DateTime(dateTimeData[i], "d-u-y")
end

In [33]:
dateTimeData

54-element Array{Any,1}:
 0015-11-25T00:00:00
 0015-11-18T00:00:00
 0015-11-11T00:00:00
 0015-11-04T00:00:00
 0015-10-25T00:00:00
 0015-10-18T00:00:00
 0015-10-11T00:00:00
 0015-09-27T00:00:00
 0015-09-20T00:00:00
 0015-09-13T00:00:00
 0015-09-06T00:00:00
 0015-08-30T00:00:00
 0015-08-16T00:00:00
 ⋮
 0014-08-09T00:00:00
 0014-07-30T00:00:00
 0014-07-23T00:00:00
 0014-07-14T00:00:00
 0014-07-02T00:00:00
 0014-06-17T00:00:00
 0014-05-27T00:00:00
 0014-05-12T00:00:00
 0014-05-01T00:00:00
 0014-04-14T00:00:00
 0014-03-31T00:00:00
 0014-03-22T00:00:00

#### Creting data giving time in days since 22 March 2014 (dateTimeData[end])

In [36]:
# Return the number of Rata Die days since epoch from the given Date or DateTime.
Dates.datetime2rata(dateTimeData[1])

5442

#### Exporting the converted data

In [41]:
dayssincemar22(x) = Dates.datetime2rata(x) - Dates.datetime2rata(dateTimeData[end])
epidays = Array{Int64}(undef, length(dateTimeData))
for i=1:length(dateTimeData)
    epidays[i] = dayssincemar22(dateTimeData[i])
end

In [42]:
epidays

54-element Array{Int64,1}:
 613
 606
 599
 592
 582
 575
 568
 554
 547
 540
 533
 526
 512
   ⋮
 140
 130
 123
 114
 102
  87
  66
  51
  40
  23
   9
   0

In [47]:
raw_data[start_index:end, 1] = epidays
DelimitedFiles.writedlm("Ebola_epidaysConverted.csv", raw_data, ",")

In [48]:
data = [[3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [6,5,4]]

3×9 Array{Int64,2}:
 3  3  3  3  3  3  3  3  6
 2  2  2  2  2  2  2  2  5
 1  1  1  1  1  1  1  1  4